In [2]:
count = 0
while count < 5:
    print(count)
    count = count + '1
#prints from 0 to 4

0
1
2
3
4

In [4]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break
    else:
      print("valeur finale de court:",count)





      print("apres valeur finale de court:", count )
#prints from 0 to 4

0
valeur finale de court: 1
apres valeur finale de court: 1
1
valeur finale de court: 2
apres valeur finale de court: 2
2

In [7]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    if number %2==1:
      print( number) # the numbers will be printed line by line, from 0 to 5

1
3
5

In [8]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n
P
y
t
h
o
n

In [10]:
person = {
    'first_name':'IKRAM',
    'last_name':'Khouya',
    'age':20,
    'country':'MAROC',
    'is_marred':False,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name
last_name
age
country
is_marred
skills
address
first_name IKRAM
last_name Khouya
age 20
country MAROC
is_marred False
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

In [22]:
person1 = {
    'first_name':'IKRAM',
    'last_name':'Khouya',
    'age':20,
    'country':'MAROC',
    'is_marred':False,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }}
person2 = {
    'first_name':'IKRAM',
    'last_name':'Khouya',
    'age':20,
    'country':'MAROC',
    'is_marred':False,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }}


person3 ={
    'first_name':'IKRAM',
    'last_name':'Khouya',
    'age':20,
    'country':'MAROC',
    'is_marred':False,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}

In [26]:
d = {1: person1, 2: person2, 3: person3} # Create a dictionary with the person data

for p in d:
    print(d[p])

{'first_name': 'IKRAM', 'last_name': 'Khouya', 'age': 20, 'country': 'MAROC', 'is_marred': False, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}
{'first_name': 'IKRAM', 'last_name': 'Khouya', 'age': 20, 'country': 'MAROC', 'is_marred': False, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}
{'first_name': 'IKRAM', 'last_name': 'Khouya', 'age': 20, 'country': 'MAROC', 'is_marred': False, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [25]:
d={1:"person1",2:"person2"}
for p in d :
  print(d[p])

person1
person2

In [27]:
d = {}


subjects = ['Math', 'Physics', 'Chemistry', 'English', 'History', 'Biology', 'Computer Science']

# Création de 30 étudiants avec des notes initialisées à 20
for i in range(30):
    d[i] = {
        'first_name': f'Student{i+1}',
        'last_name': 'Lastname',
        'age': 18,
        'country': 'Unknown',
        'grades': {subject: [20, 20, 20, 20] for subject in subjects}
    }


for p in d:
    print(f"Student {p + 1}:")
    for key, value in d[p].items():
        print(f"{key}: {value}")
    print("\n" + "-"*50 + "\n")  # Séparateur pour chaque étudiant

Student 1:
first_name: Student1
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 2:
first_name: Student2
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 3:
first_name: Student3
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 4:
first_name: Student4
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 5:
first_name: Student5
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 6:
first_name: Student6
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 7:
first_name: Student7
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 8:
first_name: Student8
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 9:
first_name: Student9
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 10:
first_name: Student10
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 11:
first_name: Student11
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 12:
first_name: Student12
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 13:
first_name: Student13
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 14:
first_name: Student14
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 15:
first_name: Student15
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 16:
first_name: Student16
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 17:
first_name: Student17
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 18:
first_name: Student18
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 19:
first_name: Student19
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 20:
first_name: Student20
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 21:
first_name: Student21
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 22:
first_name: Student22
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 23:
first_name: Student23
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 24:
first_name: Student24
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 25:
first_name: Student25
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 26:
first_name: Student26
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 27:
first_name: Student27
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 28:
first_name: Student28
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 29:
first_name: Student29
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

Student 30:
first_name: Student30
last_name: Lastname
age: 18
country: Unknown
grades: {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}

--------------------------------------------------

In [31]:
for p in d:
 print(d[p])

{'first_name': 'Student1', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student2', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student3', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student4', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student5', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student6', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student7', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student8', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student9', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student10', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student11', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student12', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student13', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student14', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student15', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student16', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student17', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student18', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student19', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student20', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student21', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student22', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student23', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student24', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student25', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student26', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student27', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student28', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student29', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}
{'first_name': 'Student30', 'last_name': 'Lastname', 'age': 18, 'country': 'Unknown', 'grades': {'Math': [20, 20, 20, 20], 'Physics': [20, 20, 20, 20], 'Chemistry': [20, 20, 20, 20], 'English': [20, 20, 20, 20], 'History': [20, 20, 20, 20], 'Biology': [20, 20, 20, 20], 'Computer Science': [20, 20, 20, 20]}}

In [33]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
          if skill==skill x and age >
            print(skill)
# afficher retenue si la personne possede cette competence et l'age entre 20 et 30 ans

JavaScript
React
Node
MongoDB
Python

In [34]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

skill_to_check = 'Python' # Replace with the skill you want to check

if 'skills' in person and 20 <= person['age'] <= 30 :
    if skill_to_check in person['skills']:
        print(f"The person has the skill '{skill_to_check}' and is between 20 and 30 years old.")
    else:
        print(f"The person does not have the skill '{skill_to_check}' or is not between 20 and 30 years old.")
else:
    print("Either 'skills' key is missing or age is not within the specified range.")

Either 'skills' key is missing or age is not within the specified range.

In [ ]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

skill_to_check = 'Python' # Replace with the skill you want to check

if 'skills' in person and 20 <= person['age'] <= 30 :
    if skill_to_check in person['skills']:
        print(f"The person has the skill '{skill_to_check}' and is between 20 and 30 years old.")
    else:
        print(f"The person does not have the skill '{skill_to_check}' or is not between 20 and 30 years old.")
else:
    print("Either 'skills' key is missing or age is not within the specified range.")